<!DOCTYPE html>
<html lang="en">
<head>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <meta charset="UTF-8">
    <title>Travel App</title>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap"
          rel="stylesheet">
</head>
<body>
<div id="page">
    <nav>
        <div id="company_details">
            <div>Travel</div>
        </div>
        <ul id="nav-menu">
            <li class="nav-menu-item"><a href="#about_us">About us</a></li>
            <li class="nav-menu-item"><a href="#plan_trip">Plan your trip</a></li>
        </ul>
    </nav>

    <section id="about_us">
        <div id="desc">
            <div>Travel</div>
            <p>Travelling means going from one place to another in different purposes. They also explore to see the
                unseen and know the unknown. The travellers always travel the most beautiful places of the world which
                uphold the existence of nature. All things are created by Allah. There are many means to see the unseen
                and know the unknown, but travelling is the best of all.</p>
            <button id="plan_now">Plan now!</button>
        </div>
    </section>

    <section id="plan_trip">
        <div id="plan_your_trip">
            <div id="form_img">
                <img src="../views/img/earth.svg" alt="Earth logo">
            </div>
            <h1>Plan your trip</h1>
            <form id="trip_details_form">
                <input type="text" id="from_place" name="from" placeholder="From" autocomplete="off" required>
                <input type="text" id="to_place" name="to" placeholder="To" autocomplete="off" required>
                <label for="travel_date"> departing on </label>
                <input type="date" id="travel_date" name="date" required>
                <input type="submit"
                       name="submit" id="travel_details_submit" value="Submit">
            </form>
        </div>
    </section>

    <section class='invisible' id="trip_details_section">
        <div id="trip_details">
            <div id="dest_photo">
                <img id="dest_desc_photo" src="../views/img/earth.svg" alt="destination image">
            </div>
            <div id="main_details">
                <div id="boarding_details">You are boarding from: <span class="dynamic_content"
                                                                   id="boarding">Delhi</span></div>
                <div id="destination_details">You are going to: <span class="dynamic_content"
                                                                      id="destination">Varanasi</span></div>
                <div id="departure_details">Departing on: <span class="dynamic_content"
                                                                id="departing_date">31/01/2019</span></div>
                <div id="days_to_go_details">Days to go <span class="dynamic_content" id="number_of_days">31</span>
                </div>
                <div id="temperature_details">Expect weather to be <span class="dynamic_content"
                                                                         id="temperature">23 &#8451;</span> , mostly
                    <span class="dynamic_content" id="weather">Sunny</span>.</div>
                <div>
                    <button class="button_style" id="remove_trip">Remove</button>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div id="footer">
            Made by Saumya Pandey
        </div>
    </footer>
</div>
<script>
    // Check that service workers are supported
    if ('serviceWorker' in navigator) {
        // Use the window load event to keep the page load performant
        window.addEventListener('load', () => {
            navigator.serviceWorker.register('/service-worker.js');
        });
    }
</script>
</body>
</html>