footer {
    width: 100%;
    height: auto;
    grid-area: footer;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    background-color: #fefefe;
    background-image: linear-gradient(315deg, #fefefe 0%, #00a4e4 74%);
    padding: 30px 0;
}

#footer {
    font-size: 2vw;
}