#page {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "nav nav nav" "about about about" "trip trip trip" "tripdetails tripdetails tripdetails" "tripdetails tripdetails tripdetails" "footer footer footer";
    font-family: Comfortaa, cursive;
    color: black;
}


#about_us {
    padding: 5vh 0;
    width: 100%;
    height: 100vh;
    grid-area: about;
    background-image: url("../views/img/background.jpg");
    display: grid;
    grid-template-columns: 20vw 1fr 20vw;
    grid-template-areas: "space space space" "content content content" "space3 space3 space3";
}

#desc {
    margin: 0 auto;
    background-color: #20bf55;
    background-image: linear-gradient(315deg, #20bf55 0%, #01baef 74%);
    width: 80%;
    grid-area: content;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 20px;
    box-shadow: 10px 16px 55px black;
}

#desc div {
    font-size: 10vh;
}

#desc button {
    font-size: 4vh;
    padding: 15px 20px;
    background: linear-gradient(to right, #ece9e6, #ffffff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border: none;
    border-radius: 10px;
    box-shadow: 10px 16px 10px black;
    font-family: Comfortaa, cursive;
}

#desc button:hover{
    box-shadow: none;
}
#desc p {
    padding: 20px;
    font-weight: 700;
}


#plan_trip {
    padding: 5vh 0;
    width: 100%;
    height: 100vh;
    grid-area: trip;
    background-color: #20bf55;
    background-image: linear-gradient(315deg, #20bf55 0%, #01baef 74%);
    display: flex;
    flex-flow: row nowrap;
}

#form_img img {
    width: 30vw;
    height: 30vw;
}

#plan_your_trip {
    margin: 0 auto;
    width: 80vw;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
}

#plan_your_trip h1{
    font-size: 5vh;
}

#trip_details_form input{
    font-size: 3vh;
    padding: 5px;
    border:none;
    font-family: Comfortaa,cursive;
    border-radius: 10px;
    box-shadow: 0 1px 10px white;
}

#trip_details_form input[type=submit]{
    padding: 1vw 2vw;
    background: linear-gradient(to right, #ece9e6, #ffffff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    box-shadow: 1px 6px 10px black;
}

#trip_details_form input[type=submit]:hover{
    box-shadow: none;
}

#trip_details_form label{
    font-size: 3vh;
    padding:2px ;
}

@media only screen and (max-width:1150px) {
        #trip_details_form input{
            width: 100%;
            margin: 10px;
        }
}

#trip_details_section{
    width: 100%;
    color: black;
    height: 100vh;
    grid-area: tripdetails;
    background: url("../views/img/background.jpg");
    display: grid;
    grid-template-columns: 20vw 1fr 20vw;
    grid-template-areas: "space space space" "content content content" "space3 space3 space3";

}

#dest_photo img{
    width: 15vw;
    height: 15vw;
}

#trip_details{
    margin: 0 auto;
    display: flex;
    flex-flow: row;
    align-items: center;
    grid-area: content;
    background-color: #20bf55;
    background-image: linear-gradient(315deg, #20bf55 0%, #01baef 74%);
    width: 80vw;
    height: auto;
    border-radius: 20px;
    box-shadow: 12px 16px 55px black;
}

#trip_details div{
    margin-left: 2vw;
}

#main_details{
    display: grid;
    width: 60vw;
    height: auto;
    font-size: 2vw;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: auto;
    grid-gap: 10px;
}

.dynamic_content{
    background-image: linear-gradient(315deg, #f5df2e 0%, #f07654 74%);
}

#remove_trip{
    font-size: 2vw;
    width: fit-content;
    outline: none;
    font-family: Comfortaa,cursive;
    padding: 1vw 2vw;
    background-color: red;
    border:none;
    border-radius: 50px;
    box-shadow: 1px 6px 10px black;
}
#remove_trip:hover{
    box-shadow: none;
}
#dest_desc_photo{
    border-radius: 50%;
}

.invisible{
    display: none !important;
}